[submodule "third/pink"]
	path = third/pink
	url = https://github.com/baotiao/pink.git
[submodule "third/slash"]
	path = third/slash
	url = https://github.com/baotiao/slash.git
[submodule "third/leveldb"]
	path = third/leveldb
	url = https://github.com/google/leveldb.git
