# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
gmon.out

# Examples
floyd/example/kv/sdk.pb.cc
floyd/example/kv/sdk.pb.h
*cpt
*read_floyd
*read_rock
*t
*t1
*t2

floyd/src/build_version.cc
floyd/example/redis/deploy.sh
